.ftco-section{
    height: 50vh;
    background-image: url(../Images//bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-primary{
    font-weight: 600;
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 !important;
    border-radius: 40px;
}
.btn-primary a a {
    color: #000000;
}
.btn-primary:active{
    background: #ffbd39 !important;
}